* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
  }

a{
  color: rgb(81, 104, 81);
  list-style:none;
  margin-bottom: 30px;
}

